{% extends 'base.html' %}
{% block main %}
  <div class="max-w-md mx-auto mt-8 p-6 bg-white shadow-md rounded-lg">
    <form action="" method="POST" class="space-y-6">
      {% csrf_token %}
      <h2 class="text-xl font-bold text-gray-800">Confirm to delete request, '{{ medreq.medicine }}-{{ medreq.quantity }}'?</h2>
      <div class="flex justify-between gap-4">
        <button type="submit" class="w-1/2 bg-red-500 text-white px-4 py-2 rounded-lg shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">Delete</button>
        <a href="{% url 'request-list' %}" class="w-1/2 bg-paynes-gray-300 text-white px-4 py-2 rounded-lg shadow-sm hover:bg-paynes-gray-600 focus:outline-none focus:ring-2 focus:ring-paynes-gray-500 focus:ring-offset-2 text-center">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
