{% extends 'users/base.html' %}

{% block main %}
  <header class="max-w-lg mx-auto mt-8">
    <a href="{% url 'landing' %}"><h1 class="text-4xl font-bold text-white text-center">HRMS</h1></a>
  </header>

  <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <section>
      <h3 class="font-bold text-2xl">Welcome to HRMS</h3>
      <p class="text-gray-600 pt-2">Sign in to your account.</p>
    </section>

    <section class="mt-10">
      <form class="flex flex-col space-y-6" method="POST" action="">
        {% csrf_token %}
        <div class="relative rounded bg-gray-100">
          <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="email">Email</label>
          <div class="relative">
            <input type="email" name="email" id="email" class="bg-gray-100 rounded w-full text-gray-700 focus:outline-none focus:bg-white focus:border-paynes-gray-600 transition duration-300 px-3 pb-3 pl-10" placeholder="Enter your email" required />
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i class="fas fa-envelope text-gray-400"></i>
            </div>
          </div>
        </div>
        <div class="relative rounded bg-gray-100">
          <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="password">Password</label>
          <div class="relative">
            <input type="password" name="password" id="password" class="bg-gray-100 rounded w-full text-gray-700 focus:outline-none focus:bg-white focus:border-paynes-gray-600 transition duration-300 px-3 pb-3 pl-10" placeholder="Enter your password" required />
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i class="fas fa-lock text-gray-400"></i>
            </div>
          </div>
        </div>
        <div class="flex justify-end">
          <a href="{% url 'reset_password' %}" class="text-paynes-gray hover:underline text-sm">Forgot your password?</a>
        </div>
        <button class="bg-paynes-gray hover:bg-paynes-gray-700 text-white font-bold py-3 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">Sign In</button>
      </form>
    </section>
  </main>

  <div class="max-w-lg mx-auto text-center mt-12 mb-6">
    <p class="text-white">
      Don't have an account? <a href="{% url 'register' %}" class="font-bold hover:underline">Sign up</a>.
    </p>
  </div>
{% endblock %}
