{% extends 'users/base.html' %}

{% block main %}
  <header class="max-w-lg mx-auto">
    <a href="{% url 'landing' %}"><h1 class="text-4xl font-bold text-white text-center">HRMS</h1></a>
  </header>

  <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <section>
      <h3 class="font-bold text-2xl">Set a New Password</h3>
      <p class="text-gray-600 pt-2">Please enter a new password for your account.</p>
    </section>

    <section class="mt-10">
      <form class="flex flex-col" method="POST">
        {% csrf_token %}
        {% if form.errors %}
          <div class="message space-y-4 mb-4" id="message-container">
            {% for field, errors in form.errors.items %}
              {% for error in errors %}
                <div class="message-item p-4 rounded-lg bg-red-100 text-red-800 border border-red-300">{{ error }}</div>
              {% endfor %}
            {% endfor %}
          </div>
        {% endif %}
        <div class="relative mb-6 pt-3 rounded bg-gray-200">
          <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="new_password1">New Password</label>
          <div class="relative">
            <input type="password" name="new_password1" id="new_password1" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-paynes-gray-600 transition duration-500 px-3 pb-3 pl-9" placeholder="Enter your new password" required />
            <div class="absolute inset-y-0 left-0 pl-3 mb-3 flex items-center pointer-events-none">
              <i class="fas fa-lock text-gray-400"></i>
            </div>
          </div>
        </div>
        <div class="relative mb-6 pt-3 rounded bg-gray-200">
          <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="new_password2">Confirm New Password</label>
          <div class="relative">
            <input type="password" name="new_password2" id="new_password2" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-paynes-gray-600 transition duration-500 px-3 pb-3 pl-9" placeholder="Confirm your new password" required />
            <div class="absolute inset-y-0 left-0 pl-3 mb-3 flex items-center pointer-events-none">
              <i class="fas fa-lock text-gray-400"></i>
            </div>
          </div>
        </div>
        <button class="bg-paynes-gray hover:bg-paynes-gray-200 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">Set Password</button>
      </form>
    </section>
  </main>

  <div class="max-w-lg mx-auto text-center mt-12 mb-6">
    <p class="text-white">
      Remember your password? <a href="{% url 'login' %}" class="font-bold hover:underline">Sign in</a>.
    </p>
  </div>
{% endblock %}
