{% extends 'users/base.html' %}
{% block main %}
  <header class="max-w-lg mx-auto mt-0 pt-0">
    <a href="{% url 'landing' %}"><h1 class="text-4xl font-bold text-white text-center">HRMS</h1></a>
  </header>
  <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <section>
      <h3 class="font-bold text-2xl">Welcome to HRMS</h3>
      <p class="text-gray-600 pt-2">Sign up to have an account.</p>
    </section>

    <section class="mt-10">
      <form class="flex flex-col" method="POST" action="">
        {% csrf_token %}
        <div class="relative mb-6 pt-3 rounded bg-gray-200">
          <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="email">Name</label>
          <div class="relative">
            <input type="text" name="name" id="email" required class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-paynes-gray-600 transition duration-500 px-3 pb-3 pl-9" placeholder="Enter your name" />
            <div class="absolute inset-y-0 left-0 pl-3 mb-3 flex items-center pointer-events-none">
              <i class="fas fa-user text-gray-400"></i>
            </div>
          </div>
        </div>
        <div class="relative mb-6 pt-3 rounded bg-gray-200">
          <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="email">Email</label>
          <div class="relative">
            <input type="email" name="email" id="email" required class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-paynes-gray-600 transition duration-500 px-3 pb-3 pl-9" placeholder="Enter your email" />
            <div class="absolute inset-y-0 left-0 pl-3 mb-3 flex items-center pointer-events-none">
              <i class="fas fa-envelope text-gray-400"></i>
            </div>
          </div>
        </div>
        <div class="mb-6 pt-3 rounded bg-gray-200">
          <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="password">Password</label>
          <div class="relative">
            <input type="password" name="password1" required id="password" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-paynes-gray-600 transition duration-500 px-3 pb-3 pl-9" placeholder="Enter your password" />
            <div class="absolute inset-y-0 left-0 pl-3 mb-3 flex items-center pointer-events-none">
              <i class="fas fa-lock text-gray-400"></i>
            </div>
          </div>
        </div>
        <div class="mb-6 pt-3 rounded bg-gray-200">
          <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="password">Password Confirmation</label>
          <div class="relative">
            <input required type="password" name="password2" id="password" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-paynes-gray-600 transition duration-500 px-3 pb-3 pl-9" placeholder="Confirm password" />
            <div class="absolute inset-y-0 left-0 pl-3 mb-3 flex items-center pointer-events-none">
              <i class="fas fa-lock text-gray-400"></i>
            </div>
          </div>
        </div>
        <button class="bg-paynes-gray hover:bg-paynes-gray-200 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">Sign Up</button>
      </form>
    </section>
  </main>

  <div class="max-w-lg mx-auto text-center mt-12 mb-6">
    <p class="text-white">
      Already have an account? <a href="{% url 'login' %}" class="font-bold hover:underline">Sign In</a>.
    </p>
  </div>
{% endblock %}
