{% extends 'base.html' %}
{% block main %}
  <!-- Grid Layout -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-10">
    <!-- Card 1: Total Patients -->
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="px-4 py-6">
        <h2 class="text-xl font-bold mb-4">
          Total Patients
          <i class="fas fa-users mr-2 pl-4"></i>
        </h2>
        <h3 class="text-xl font-bold mb-4"><span class="patient-count">Total Patient(s): {{ patient_count }}</span></h3>
      </div>
      <div class="flex justify-center space-x-2 mt-20 mb-2">
        <button class="all-patient-btn bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded transition duration-300">All</button>
        <button class="monthly-patient-btn bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded transition duration-300">Monthly</button>
        <button class="today-patient-btn bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded transition duration-300">Today</button>
      </div>
    </div>

    <!-- Card 2: Total Requests -->
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="px-4 py-6">
        <h2 class="text-xl font-bold mb-4">
          Total Requests Made
          <i class="fas fa-file-medical mr-2 pl-3"></i>
        </h2>
        <h3 class="text-xl font-bold mb-4">Total Request(s) Made: <span class="total">{{ request_count }}</span></h3>
        <h4 class="font-bold mb-2">Fulfilled: <span class="fulfilled">{{ fulfilled_count }}</span></h4>
        <h4 class="font-bold mb-2">Unfulfilled: <span class="unfulfilled">{{ unfulfilled_count }}</span></h4>
      </div>
      <div class="flex justify-center space-x-2 mt-4 mb-2 ml-2">
        <button class="all-request-btn bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded transition duration-300">All</button>
        <button class="monthly-request-btn bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded transition duration-300">Monthly</button>
        <button class="today-request-btn bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded transition duration-300">Today</button>
      </div>
    </div>

    <!-- Card 3: Released Medicines -->
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="px-4 py-6">
        <h2 class="text-xl font-bold mb-4">
          Released Medicines
          <i class="fas fa-pills pl-3 mr-2"></i>
        </h2>
        <h3 class="text-xl font-bold mb-4">Released Medicine(s): <span class="quantity">{{ quantity }}</span></h3>
      </div>
      <div class="flex justify-center space-x-2 mt-20 mb-2">
        <button class="all-medicine-btn bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded transition duration-300">All</button>
        <button class="monthly-medicine-btn bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded transition duration-300">Monthly</button>
        <button class="today-medicine-btn bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded transition duration-300">Today</button>
      </div>
    </div>
  </div>

  <!-- Actions: Add New Patient and Add New Request -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="px-4 py-6 flex items-center justify-center">
        <a href="{% url 'add-patient' %}" class="text-blue-500 hover:text-blue-700 flex items-center"><i class="fas fa-user-plus text-4xl mr-2"></i> Add New Patient</a>
      </div>
    </div>

    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="px-4 py-6 flex items-center justify-center">
        <a href="{% url 'add-request' %}" class="text-blue-500 hover:text-blue-700 flex items-center"><i class="fas fa-prescription-bottle-alt text-4xl mr-2"></i> Add New Request</a>
      </div>
    </div>
  </div>

  <script>
    let allPatientBtn = document.querySelector('.all-patient-btn')
    let monthlyPatientBtn = document.querySelector('.monthly-patient-btn')
    let todayPatientBtn = document.querySelector('.today-patient-btn')
    
    allPatientBtn.addEventListener('click', function () {
      fetchData("{% url 'get-all-patients' %}", dataHandler)
    })
    monthlyPatientBtn.addEventListener('click', function () {
      fetchData("{% url 'get-monthly-patients' %}", dataHandler)
    })
    todayPatientBtn.addEventListener('click', function () {
      fetchData("{% url 'get-today-patients' %}", dataHandler)
    })
    
    let allRequestBtn = document.querySelector('.all-request-btn')
    let monthlyRequestBtn = document.querySelector('.monthly-request-btn')
    let todayRequestBtn = document.querySelector('.today-request-btn')
    
    allRequestBtn.addEventListener('click', function () {
      fetchData("{% url 'get-all-requests' %}", requestHandler)
    })
    monthlyRequestBtn.addEventListener('click', function () {
      fetchData("{% url 'get-monthly-requests' %}", requestHandler)
    })
    todayRequestBtn.addEventListener('click', function () {
      fetchData("{% url 'get-today-requests' %}", requestHandler)
    })
    
    let allMedicineBtn = document.querySelector('.all-medicine-btn')
    let monthlyMedicineBtn = document.querySelector('.monthly-medicine-btn')
    let todayMedicineBtn = document.querySelector('.today-medicine-btn')
    
    allMedicineBtn.addEventListener('click', function () {
      fetchData("{% url 'get-all-medicine' %}", medicineHandler)
    })
    monthlyMedicineBtn.addEventListener('click', function () {
      fetchData("{% url 'get-monthly-medicine' %}", medicineHandler)
    })
    todayMedicineBtn.addEventListener('click', function () {
      fetchData("{% url 'get-today-medicine' %}", medicineHandler)
    })
    
    function fetchData(link, dataHandler) {
      fetch(link)
        .then((response) => response.json())
        .then((data) => {
          dataHandler(data)
        })
    }
    function dataHandler(data) {
      document.querySelector('.patient-count').innerHTML = `
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      Total Patient(s): ${data.patient_count}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      `
    }
    
    function requestHandler(data) {
      document.querySelector('.total').innerHTML = data.request_count
      document.querySelector('.fulfilled').innerHTML = data.fulfilled_count
      document.querySelector('.unfulfilled').innerHTML = data.unfulfilled_count
    }
    
    function medicineHandler(data) {
      if (data.quantity == null) {
        data.quantity = 0
      }
      document.querySelector('.quantity').innerHTML = data.quantity
    }
  </script>
{% endblock %}
