{% extends 'base.html' %}
{% load static %}
{% block main %}
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6 -mt-5 pt-0">
    <!-- Card 1: Total Patients -->
    <div class="bg-white shadow-lg rounded-lg p-2 flex flex-col justify-between transition-transform transform hover:scale-105 h-full">
      <div class="text-center">
        <h2 class="text-lg font-semibold flex justify-center items-center"><i class="fas fa-users text-blue-500 mr-2"></i> Total Patients : <span class="pl-2 text-2xl font-bold">{{ patient_count }}</span></h2>
      </div>
      <div class="flex justify-center items-center mt-1 pb-2">
        <a href="{% url 'add-patient' %}" class="bg-blue-500 text-white font-bold py-1 px-3 rounded hover:bg-blue-600 transition-colors"><i class="fas fa-user-plus mr-1"></i> Add New Patient</a>
      </div>
    </div>

    <!-- Card 3: Released Medicines -->
    <div class="bg-white shadow-lg rounded-lg p-2 flex flex-col justify-between transition-transform transform hover:scale-105 h-full">
      <div class="text-center">
        <h2 class="text-lg font-semibold mb-1 flex justify-center items-center"><i class="fas fa-pills text-red-500 mr-2"></i> Released Medicines : <span class="pl-2 text-2xl font-bold">{{ quantity }}</span></h2>
      </div>
      <div class="flex justify-center items-center mt-1 pb-2">
        <a href="{% url 'create_checkup' %}" class="bg-red-500 text-white font-bold py-1 px-3 rounded hover:bg-red-600 transition-colors"><i class="fas fa-stethoscope mr-1"></i> Add New Checkup</a>
      </div>
    </div>
    <!-- Card 2: Total Requests -->
    <div class="bg-white shadow-lg rounded-lg p-2 flex flex-col justify-between transition-transform transform hover:scale-105 h-full">
      <div class="text-center">
        <h2 class="text-lg font-semibold mb-1 flex justify-center items-center"><i class="fas fa-file-medical text-green-500 mr-2"></i> Total Requests Made : <span class="pl-2 text-2xl font-bold">{{ request_count }}</span></h2>
      </div>
      <div class="flex justify-center items-center mt-1 pb-2">
        <a href="{% url 'add-request' %}" class="bg-green-500 text-white font-bold py-1 px-3 rounded hover:bg-green-600 transition-colors"><i class="fas fa-prescription-bottle-alt mr-1"></i> Add New Request</a>
      </div>
    </div>
  </div>

  <!-- Central Chart Section -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Illness Statistics Section -->
    <div class="shadow-lg rounded-xl p-6 mb-8 md:col-span-2 bg-white border border-gray-300 hover:shadow-2xl transition-shadow duration-300">
      <h2 class="text-3xl font-bold text-left mb-6 text-gray-800">Cases Statistics</h2>
      <canvas id="illness_chart"></canvas>
    </div>

    <!-- Recent Checkups Section -->
    <div class="max-h-[600px] flex flex-col p-6 m-8 mt-0 border border-gray-300 rounded-xl bg-white shadow-lg hover:shadow-2xl transition-shadow duration-300 col-span-1">
      <h2 class="text-2xl font-bold text-left mb-4 text-gray-800">Recent Checkups</h2>

      {% if items %}
        <div class="flex-grow max-h-[400px] overflow-y-auto space-y-4">
          <!-- Set max height for scroll -->
          <!-- Loop through items -->
          {% for item in items %}
            <div class="p-5 bg-gray-50 rounded-lg shadow-md hover:bg-gray-100 transition-colors duration-200">
              <p class="font-semibold text-lg text-gray-700">{{ item.illness.illness_name }}</p>
              <p class="text-sm text-gray-600">{{ item.checkup_details|truncatechars:30 }}</p>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="text-gray-500 mt-4">No recent checkups available.</p>
      {% endif %}

      <div class="mt-4">
        <!-- Added margin-top for spacing -->
        {% if items %}
          {% include 'paginate.html' %}
        {% endif %}
      </div>
    </div>
  </div>

  <script type="module" src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
  <script type="module" src="{% static 'chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js' %}"></script>
  {{ illness_data|json_script:'illness_data' }}
  <script type="module">
    const illness_data = JSON.parse(document.getElementById('illness_data').textContent)
    
    const illness_chart = document.getElementById('illness_chart')
    let labels = []
    let counts = []
    
    if (illness_data) {
      for (const [illness, count] of Object.entries(illness_data)) {
        labels.push(illness)
        counts.push(count)
      }
    }
    
    window.myChart = new Chart(illness_chart.getContext('2d'), {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [
          {
            label: 'Cases',
            data: counts,
            backgroundColor: [
              'rgba(54, 162, 235, 0.6)', // Light Blue
              'rgba(255, 99, 132, 0.6)', // Soft Red
              'rgba(255, 206, 86, 0.6)', // Soft Yellow
              'rgba(75, 192, 192, 0.6)', // Mint Green
              'rgba(153, 102, 255, 0.6)', // Light Purple
              'rgba(255, 159, 64, 0.6)', // Soft Orange
              'rgba(233, 30, 99, 0.6)' // Soft Pink
            ],
            borderColor: [
              'rgba(54, 162, 235, 1)', // Light Blue
              'rgba(255, 99, 132, 1)', // Soft Red
              'rgba(255, 206, 86, 1)', // Soft Yellow
              'rgba(75, 192, 192, 1)', // Mint Green
              'rgba(153, 102, 255, 1)', // Light Purple
              'rgba(255, 159, 64, 1)', // Soft Orange
              'rgba(233, 30, 99, 1)' // Soft Pink
            ],
            borderWidth: 1,
            borderRadius: 5, // Rounded corners
            barThickness: 30, // Adjust the width of the bars
            categoryPercentage: 0.8, // Adjust spacing between bars
            barPercentage: 0.9 // Adjust spacing between categories
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: true, // Allows the chart to fill the parent container
        scales: {
          y: {
            beginAtZero: true,
            grid: {
              color: 'rgba(200, 200, 200, 0.3)', // Lighter grid lines
              lineWidth: 1
            },
            title: {
              display: true,
              text: 'Number of Cases',
              font: {
                size: 16,
                weight: 'bold'
              },
              color: '#333'
            }
          },
          x: {
            grid: {
              display: false // No grid lines for x-axis
            },
            title: {
              display: true,
              text: 'Categories',
              font: {
                size: 16,
                weight: 'bold'
              },
              color: '#333'
            },
            ticks: {
              autoSkip: true, // Automatically skip labels when there are too many
              maxTicksLimit: 10, // Maximum number of labels to show
              maxRotation: 90 // Maximum rotation angle for labels
            }
          }
        },
        plugins: {
          zoom: {
            pan: {
              enabled: true,
              scaledMode: 'x'
            },
            limits: {
              x: {
                min: 0
              }
            },
            zoom: {
              wheel: {
                enabled: true,
                speed: 0.001
              },
              drag: {
                enabled: true,
                threshold: 100
              },
              pinch: {
                enabled: true
              },
              mode: 'x'
            }
          },
          tooltip: {
            callbacks: {
              label: function (tooltipItem) {
                return `${tooltipItem.dataset.label}: ${tooltipItem.raw}` // Custom tooltip text
              }
            },
            backgroundColor: 'rgba(0, 0, 0, 0.9)', // Darker tooltip background
            titleColor: '#fff', // Tooltip title color
            bodyColor: '#fff' // Tooltip body color
          },
          legend: {
            display: false,
            position: 'top', // Position of the legend
            labels: {
              boxWidth: 20,
              font: {
                size: 14,
                weight: 'bold'
              },
              color: '#333'
            }
          }
        }
      }
    })
    
    let allPatientBtn = document.querySelector('.all-patient-btn')
    let monthlyPatientBtn = document.querySelector('.monthly-patient-btn')
    let todayPatientBtn = document.querySelector('.today-patient-btn')
    
    allPatientBtn.addEventListener('click', function () {
      fetchData("{% url 'get-all-patients' %}", dataHandler)
    })
    monthlyPatientBtn.addEventListener('click', function () {
      fetchData("{% url 'get-monthly-patients' %}", dataHandler)
    })
    todayPatientBtn.addEventListener('click', function () {
      fetchData("{% url 'get-today-patients' %}", dataHandler)
    })
    
    let allRequestBtn = document.querySelector('.all-request-btn')
    let monthlyRequestBtn = document.querySelector('.monthly-request-btn')
    let todayRequestBtn = document.querySelector('.today-request-btn')
    
    allRequestBtn.addEventListener('click', function () {
      fetchData("{% url 'get-all-requests' %}", requestHandler)
    })
    monthlyRequestBtn.addEventListener('click', function () {
      fetchData("{% url 'get-monthly-requests' %}", requestHandler)
    })
    todayRequestBtn.addEventListener('click', function () {
      fetchData("{% url 'get-today-requests' %}", requestHandler)
    })
    
    let allMedicineBtn = document.querySelector('.all-medicine-btn')
    let monthlyMedicineBtn = document.querySelector('.monthly-medicine-btn')
    let todayMedicineBtn = document.querySelector('.today-medicine-btn')
    
    allMedicineBtn.addEventListener('click', function () {
      fetchData("{% url 'get-all-medicine' %}", medicineHandler)
    })
    monthlyMedicineBtn.addEventListener('click', function () {
      fetchData("{% url 'get-monthly-medicine' %}", medicineHandler)
    })
    todayMedicineBtn.addEventListener('click', function () {
      fetchData("{% url 'get-today-medicine' %}", medicineHandler)
    })
    
    function fetchData(link, dataHandler) {
      fetch(link)
        .then((response) => response.json())
        .then((data) => {
          dataHandler(data)
        })
    }
    function dataHandler(data) {
      document.querySelector('.patient-count').innerHTML = ` Total Patient(s): ${data.patient_count}`
    }
    
    function requestHandler(data) {
      document.querySelector('.total').innerHTML = data.request_count
      document.querySelector('.fulfilled').innerHTML = data.fulfilled_count
      document.querySelector('.unfulfilled').innerHTML = data.unfulfilled_count
    }
    
    function medicineHandler(data) {
      if (data.quantity == null) {
        data.quantity = 0
      }
      document.querySelector('.quantity').innerHTML = data.quantity
    }
  </script>
{% endblock %}
